<header>
  <div class="py-3 text-bg-dark">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="javascript:;"
          class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
        >
          <i class="bi bi-xbox"></i>
          <span class="p-2 ms-auto">FlextIt</span>
        </a>
        <ul
          class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
        >
          <li class="d-flex align-items-center">
            <a href="#" class="nav-link text-white">
              <i class="bi bi-house-fill"></i>
              Home
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a href="#" class="nav-link text-white">
              <i class="bi bi-hdd-rack-fill"></i>
              Services
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a href="#" class="nav-link text-white">
              <i class="bi bi-person-circle"></i>
              Clients
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>