<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Node Express + Typescript Starter!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="full-width">
    <header class="navbar navbar-expand-lg bg-dark border-bottom border-body">
        <div class="container">
            <a href="javascript:;" class="navbar-brand">FlextIt</a>
        </div>
        
    </header>
    <div class="container">
         {{{body}}}
    </div>
   <footer>
       <span>&copy; 2024 | FlexIt</span>
   </footer>

</body>
</html>