<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Node Express + Typescript Starter!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="javascript:;">FlextIt</a>
    </header>
    <div class="container">
         {{{body}}}
    </div>
   <footer>
       <span>&copy; 2024 | FlexIt</span>
   </footer>

</body>
</html>